pipeline/Incremental_pipeline.json
{
	"name": "Incremental_pipeline",
	"properties": {
		"description": "This pipeline will execute incremental pipeline",
		"activities": [
			{
				"name": "Get Highwatermark Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Highwatermark_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Fetch the latest timestamp from datatbase",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Highwatermark Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(ModifiedDate) as RecordDate from saleslt.customer;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_CUSTOMER",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy incremental data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Fetch the latest timestamp from datatbase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from saleslt.customer where ModifiedDate >''',activity('Get Highwatermark Date').output.firstRow.Prop_0,''' AND ModifiedDate <=''',activity('Fetch the latest timestamp from datatbase').output.firstRow.RecordDate,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_CUSTOMER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "REST_CSV_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update Highwater File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy incremental data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select ''' ,activity('Fetch the latest timestamp from datatbase').output.firstRow.RecordDate , ''' from saleslt.customer where customerid=1')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_CUSTOMER",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Highwatermark_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}