pipeline/LookUp Pipeline.json
{
	"name": "LookUp Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Record Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecordCount from saleslt.customer;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DB_CUSTOMER",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Record Count').output.firstRow.RecordCount,1000)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Get Product data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQL_PRODUCT_DS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_CUSTOMER_STG",
									"type": "DatasetReference",
									"parameters": {
										"filePath": "For_Each"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get customer data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQL_DB_CUSTOMER",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_CUSTOMER_STG",
									"type": "DatasetReference",
									"parameters": {
										"filePath": "For_Each"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}