pipeline/PRODUCT_PIPELINE.json
{
	"name": "PRODUCT_PIPELINE",
	"properties": {
		"activities": [
			{
				"name": "COPY PRODUCT DATA",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SQL_DS_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Product"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CUSTOMER_STG_JSON",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "PRODUCT COUNT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "COPY PRODUCT DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS ProductCount FROM SALESLT.PRODUCT;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_CUSTOMER_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "PRODUCT COUNT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('PRODUCT COUNT').output.firstRow.ProductCount, 100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GET PROD_DESC",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQL_DS_GENERIC",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "productdescription"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CUSTOMER_STG_JSON",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-08-18T09:24:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}